@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}

body{
  @apply selection:bg-[#090909] selection:text-[#d4d4d4] dark:selection:bg-[#d4d4d4] dark:selection:text-[#090909];
  overflow-x: hidden;
  cursor: url('/cursor.svg'), auto;
}

.bg-light{
  background-color: #d9d9d9;
  background-image: url("/texture.png");
}
.bg-night{
  background-color: #050505;
}

.header-gradient{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(217,217,217,.1) 20%, rgba(217,217,217,.6) 70%, rgba(217,217,217,1) 95%);
}
.header-gradient-dark{
  background: linear-gradient(180deg, rgba(5,5,5,0) 0%, rgba(5,5,5,.75) 20%, rgba(5,5,5,1) 100%);
}
.radial-gradient{
  background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 70%);
}

.try-it{ 
  animation: try 1.4s infinite; 
}

.about-shadow{
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

.inputs{
  -webkit-appearance: none;
  height: 12px;
  background: #c4c4c4;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.inputs::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  background: #595959;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;  
  border-radius: 6px;
  background: #595959;
}

@keyframes try {
  0%, 100% {
    transform: translateY(-20%);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

.scroll-down{
    animation: scroll 1.3s infinite;
}

@keyframes scroll {
  0%, 100% {
    transform: rotate(90deg) translateX(40%);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: rotate(90deg) translateX(0);
    animation-timing-function: ease-in-out;
  }
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    border: 2px solid #000000;
    background: #090909;
    box-shadow: inset 0 0 1px 1px rgba(255,255,255, .15);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #cfcfcf, #e9e9e9);
    border: 1px solid rgb(19, 19, 19);
    border-radius: 1px;
}